

<div class="container">
  <div class="row">
    <div class="col-xs-7 coktail-display">
      <h1>Create a new cocktail</h1>
      <br>

      <div class="new_ingredient-box">
      <%= simple_form_for(@cocktail) do |c| %>
        <%= c.error_notification %>

        <%= c.input :name %>
        <%= c.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>


    </div>
  </div>
</div>
