.coktail-display {
  background: #FFFFFF;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  float: none;
  margin: 0 auto;
}

.new_ingredient-box {
  margin: 0px 30px;
  padding: 15px 50px;
  background: #F2F2F2;
  border-color: #e01b6a;
  border-style: dashed;
  border-radius: 6px;
}
